<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title> Vue Dischi</title>
</head>

<body>
 <main id="vueapp" class="main">

    <div class="col">
 
        <select v-model="selected"name="genres" id="select">
            <option value="all">All</option>
            <option value="pop">Pop</option>
            <option value="rock">Rock</option>
            <option value="jazz">Jazz</option>
            <option value="metal">Metal</option>
            
        </select>


    </div>
    <div class="container">

        <div class="album-container">
            <div v-for="(element,index, genre) in filtered" class="card">
                <div class="cover"><img alt="" v-bind:src="element.poster"> </div>
                <div class="info">
                    <h3 class="author">{{element.author}}</h3>
                    <h5 class="title">{{element.title}}</h5>
                    <h6 class="date">{{element.year}}</h6>
                </div>
            </div>
        </div>

    
 
    </div>
 </main>
 <script src="scriptAlbumList.js"></script>   
</body>
</html>




